{% include analytics.html %}
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row align-items-end">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <!-- RSS -->
          <a class="rss-ic" href="{{ "/feed.xml" | relative_url }}">
            <i class="fab fa-rss fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- GitHub -->
          <a class="gh-ic" href="https://github.com/marc577">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/H8M_event">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Telegram-->
          <a class="tg-ic" href="https://t.me/b1ack0ut">
            <i class="fab fa-telegram-plane fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://instagram.com/h8m_event">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> {{ site.title }}</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->