.vim-caret {
  -webkit-animation: vimCaret 1s linear infinite;
       -o-animation: vimCaret 1s linear infinite;
          animation: vimCaret 1s linear infinite; }

@-webkit-keyframes vimCaret {
  0% {
    background-color: transparent; }
  49% {
    background-color: transparent; }
  50% {
    background-color: rgba(255, 255, 255, 0.2); }
  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@-o-keyframes vimCaret {
  0% {
    background-color: transparent; }
  49% {
    background-color: transparent; }
  50% {
    background-color: rgba(255, 255, 255, 0.2); }
  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@keyframes vimCaret {
  0% {
    background-color: transparent; }
  49% {
    background-color: transparent; }
  50% {
    background-color: rgba(255, 255, 255, 0.2); }
  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

/**
 * Page content
 */
 .page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  

/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title,
  .post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(1.75);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.125);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.25);
      }
    }
  }
  
  
  .social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 0 5px;
      &:first-of-type { margin-left: 0 }
      &:last-of-type { margin-right: 0 }
      a {
        display: block;
        padding: $spacing-unit / 4;
        border: 1px solid $grey-color-light
      }
      &:hover .svg-icon { fill: currentColor; }
    }
  }  